<!-- + Education subsection -->
<div class="subsection">
  <h2>
    <span class="dot"></span>What do I
    <span class="word">Study</span>?
  </h2>

  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>Army Institute of Technology</h3>
        <h4>
          <i class="fas fa-laptop mr-2"></i>
          Computer Engineer
        </h4>
        <h4>
          <i class="fas fa-calendar-alt mr-2"></i> Jun 2018
          - May 2022
        </h4>
      </div>

      <div class="card-text">
        ◆ Pursuing Bachelor of Engineering from Pune University. Have been
        engaged with various clubs/cells of the college and is in constant
        search of expanding my knowledge.
        <br />◆ Have been associated with E-Cell of the college from start of my
        college journey.
      </div>
    </div>
  </div>
</div>
<!-- - Education subsection -->