<!-- + Experience subsection -->
<div class="subsection">
  <h2 class="mt-5">
    <span class="dot"></span>What did I
    <span class="word">work with</span>?
  </h2>

  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>Turtlemint</h3>
        <h4>
          <i class="fas fa-graduation-cap mr-2"></i>
          Full Stack Developer
        </h4>
        <h4>
          <i class="fas fa-calendar-alt mr-2"></i> Aug
          2022-Present
        </h4>
        <h4>
          <i class="fas fa-layer-group mr-2"></i> Spring Boot
          | Java | ReactJS | Angular | Python | Django | Redis
        </h4>
      </div>

      <div class="card-text">
        Working on Motor Insurance team. Enhancing motor micro-services more
        accessible and easy to transact for our digital Partners for selling
        motor insurance related products.
        Developed onboarding feature for backend tool which will benefit all new
        joinees from all teams.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>MSlate.ai Inc.</h3>
        <h4>
          <i class="fas fa-graduation-cap mr-2"></i>
          Full Stack Developer Intern
        </h4>
        <h4>
          <i class="fas fa-calendar-alt mr-2"></i> Dec
          2020-Mar 2021
        </h4>
        <h4>
          <i class="fas fa-layer-group mr-2"></i> Django
          | DjangoRestFramework | ReactJS | PostgreSQL | AWS | Neo4j Graph
          Database | Bootstrap
        </h4>
      </div>

      <div class="card-text">
        Developed a digital portal for doctors/patients using Django, ReactJS,
        Redux, Neo4j Graph Database, PostgreSQL. Practiced agile development,
        collaborated with the team through sprint & retrospective meetings.
        Features: chat | audio | video call | EHR | JWT tokens | Beta trial
        conducted successfully.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>SriRam Industries</h3>
        <h4>
          <i class="fas fa-graduation-cap mr-2"></i>
          Web Development Intern
        </h4>
        <h4>
          <i class="fas fa-calendar-alt mr-2"></i> Nov
          2020-Dec 2020
        </h4>
        <h4>
          <i class="fas fa-layer-group mr-2"></i> Django
          | Bootstrap | ORM | JWT | Admin User Flow
        </h4>
      </div>

      <div class="card-text">
        Developed a dynamic web-portal with admin support. Converted offline
        workflow to digital platform. Built purely in Django along with Jinja,
        Bootstrap5, ORM, Allauth, SocialOauth, Admin Dashboard.
      </div>
    </div>
  </div>
</div>
<!-- - Experience subsection -->