<ul class="list-group list-group-horizontal">
  <li class="list-group-item">
    <a href="mailto:patilkrunal11.kp@gmail.com" target="_blank" rel="noreferrer" alt="Email link">
      <i class="fas fa-envelope"></i>
    </a>
  </li>
  <li class="list-group-item">
    <a href="https://github.com/patilkrunal" target="_blank" rel="noreferrer" alt="Github link">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li class="list-group-item">
    <a href="https://linkedin.com/in/patilkrunal" target="_blank" rel="noreferrer" alt="LinkedIn link">
      <i class="fab fa-linkedin"></i>
    </a>
  </li>
  <li class="list-group-item">
    <a href="https://twitter.com/_patilkrunal/" target="_blank" rel="noreferrer" alt="Twitter link">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <!-- <li>
    <a href="https://twitter.com/_patilkrunal" class="follow-button btn btn-primary shadow-lg" target="_blank">
      Follow
    </a>
  </li> -->
</ul>