<div className="row mb-4">
  <div className="col-12 text-center">
    <div class="social-media">
      <button class="social-media-btn"><i class="fas fa-copy"></i></button>
      <button class="social-media-btn"><i class="fab fa-whatsapp"></i></button>
      <button class="social-media-btn"><i class="fab fa-instagram"></i></button>
      <button class="social-media-btn"><i class="fab fa-twitter"></i></button>
      <button class="social-media-btn"><i class="fab fa-facebook-f"></i></button>
      <button class="social-media-btn"><i class="fab fa-linkedin-in"></i></button>
      <button class="social-media-btn"><i class="fas fa-print"></i></button>
    </div>
  </div>
</div>