<!-- + Technologies subsection -->
<div class="subsection">
  <h2 class="mt-5">
    <span class="dot"></span>What do I
    <span class="word">know</span>?
  </h2>
  <div class="row">
    {% for skill in skills %}
    <div class="col-lg-4 col-md-6" key="{index}">
      <div class="card">
        <div class="card-text">
          <div class="card-item">
            <i class="fas fa-terminal mr-2 item-icon"></i>
            {{skill.name}}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- - Technologies subsection -->